.twelve.columns
	h3
		span.color-bg #{ title_photoshop }
	p #{ p_photoshop }

	.ba.twentytwenty-container
		img(src= aws + "/photoshop/ba_4.jpg")
		img(src= aws + "/photoshop/ba_3.jpg")

	.ba.twentytwenty-container
		img(src= aws + "/photoshop/ba_6.jpg")
		img(src= aws + "/photoshop/ba_5.jpg")

	.ba.twentytwenty-container
		img(src= aws + "/photoshop/ba_8.jpg")
		img(src= aws + "/photoshop/ba_7.jpg")